.container{
    flex: 2;
    margin-top: 60px;
}

.title{
  font-size: 28px;
}
.subtitle{
    color: gray;
    font-size: 16px;
    font-weight: 400;
}
.items{
    display: flex;
    align-items: center;
    gap: 20px;
}

.item{
   
}
.imageContainer{
    flex: 1;
    aspect-ratio: 1/1;
    position: relative;
}
.image{
    border-radius: 50%;
    border:3px solid lightgray ;
    object-fit: cover;
}
.textContainer{
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.postTitle{
    font-style: 18px;
    font-weight: 500;
    color: var(--softTextColor);
}
.detail{
    font-size: 12px;
}
.date{
    color: gray;
}